<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Reikiamų užsipirkti tapetų kiekio skaičiavimas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-5">
				<div class="card">
					<div class="card-header">Įveskite duomenis</div>
					<div class="card-body">
						<form method="post" action="/">
						<table class="table">
						 	<tr>
						 	<th>&nbsp;</th><th>Aukštis(m)</th><th>Ilgis(m)</th>
						 	</tr>
							<tr>
							<th>Siena</th>
							<td><input name="sheight" class="input-text required-entry" type="text" value="0"></td>
							<td><input name="swidth" class="input-text required-entry" type="text" value="0"></td>
							</tr>
							<tr>
							<th>Durys</th>
							<td><input name="dheight" class="input-text required-entry" type="text" value="0"></td>
							<td><input name="dwidth" class="input-text required-entry" type="text" value="0"></td>
							</tr>
							<tr id="Windows" style="display: none;"><th>&nbsp;</th><th>Aukštis(m)</th><th>Ilgis(m)</th></tr>
							<button id="AddWindow" class="button btn-cart primary" type="button">Pridėti langą</button>
						</table>
							<input type="submit" value="Skaičiuoti" />
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>
